.blog__top {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 200px;
  position: relative;
}
.blog__top_content {
  position: absolute;
  width: 503px;
  height: 178px;
  border-radius: 37px 37px 0px 0px;
  background: #FFF;
  display: grid;
  align-content: center;
  justify-items: center;
}
.blog__latest_box {
  display: flex;
  padding: 22px;
  width: 1200px;
  height: 522px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  gap: 65px;
  margin-bottom: 150px;
}
.blog__latest_box:hover {
  background-color: #F4F0EC;
  border-color: #F4F0EC;
}
.blog__latest_box:hover circle {
  fill: white;
}
.blog__latest_img {
  height: 478px;
  border-radius: 50px;
  background: #C4C4C4;
}
.blog__latest_heading {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  color: #292F36;
  font-weight: 400;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
  margin-bottom: 27px;
}
.blog__latest_content {
  display: grid;
  align-content: center;
}
.blog__latest_subheading {
  color: #292F36;
  font-family: DM Serif Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 0.5px;
  margin-bottom: 22px;
}
.blog__latest_text {
  margin-bottom: 50px;
}
.blog__latest_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__latest_date {
  color: #4D5053;
  font-family: Jost;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
}
.blog__pages_list {
  display: flex;
  justify-content: center;
  padding-top: 51px;
  gap: 20px;
}
.blog__pages_link {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 52px;
  height: 52px;
  border: 1px solid #CDA274;
  color: #292F36;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}
.blog__pages_link:hover {
  border: none;
  background-color: #F4F0EC;
  color: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Jost", sans-serif;
}

.visually_hidden {
  display: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #CDA274;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

.center {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  padding-left: 2%;
  padding-right: 2%;
}

.heading {
  font-family: "DM Serif Display", serif;
  font-style: normal;
  color: #292F36;
  font-weight: 400;
  text-align: center;
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 1px;
}

.text {
  color: #4D5053;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.22px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding-top: 53px;
  padding-bottom: 57px;
}
.header__nav_menu {
  display: flex;
  justify-content: space-between;
  width: 243px;
}
.header__nav_menu_link {
  font-size: 20px;
  color: #292F36;
  cursor: pointer;
}

.top {
  margin-bottom: 97px;
  position: relative;
}
.top__banner {
  background-color: #F4F0EC;
  min-width: 1200px;
}
.top__intro {
  position: absolute;
  top: 208px;
  left: 52px;
  width: 434px;
}
.top__heading {
  font-size: 65px;
  line-height: 125%;
  margin-bottom: 18px;
  text-align: left;
}
.top__text {
  margin-bottom: 21px;
}
.top__button {
  display: inline-block;
  width: 220px;
  height: 75px;
  color: white;
  background-color: #292F36;
  display: flex;
  padding: 26px 49px 26px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
}

.projects {
  margin-bottom: 100px;
}
.projects__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 93px;
}
.projects__intro_text {
  width: 737px;
  text-align: center;
}
.projects__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.projects__gallery_item {
  width: 525px;
  margin-bottom: 50px;
}
.projects__gallery_img {
  background: #C4C4C4;
  margin-bottom: 43px;
}
.projects__gallery_box {
  display: flex;
  justify-content: space-between;
}
.projects__gallery_heading {
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 4px;
}
.projects__gallery_more {
  display: inline-block;
}

.counter {
  min-height: 457px;
  background-color: #F4F0EC;
  margin-bottom: 96px;
  display: grid;
  justify-content: center;
  padding: 151px 0;
}
.counter__list {
  display: flex;
  gap: 76px;
  text-align: center;
}
.counter__number {
  color: #CDA274;
  font-family: DM Serif Display;
  font-size: 85px;
  font-weight: 400;
  line-height: 125%;
  letter-spacing: 1.7px;
}
.counter__item {
  width: 130px;
}

.blog {
  margin-bottom: 100px;
}
.blog__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 93px;
}
.blog__intro_text {
  width: 737px;
  text-align: center;
}
.blog__box {
  display: flex;
  gap: 27px;
  flex-wrap: wrap;
}
.blog__item {
  width: 382px;
  height: 521px;
  padding: 21px;
  border-radius: 62px;
  border: 1px solid #E7E7E7;
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.25);
  position: relative;
}
.blog__item:hover {
  background-color: #F4F0EC;
  border-color: #F4F0EC;
}
.blog__item:hover circle {
  fill: white;
}
.blog__img {
  background-color: #EAEAEA;
  border-radius: 45px 45px 0px 0px;
  margin-bottom: 21px;
}
.blog__tag {
  position: absolute;
  left: 41px;
  top: 249px;
  color: #4D5053;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.16px;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 400;
  width: 124px;
  height: 41px;
  border-radius: 8px 8px 8px 0px;
  background-color: #FFF;
  text-align: center;
  padding: 8px 0;
}
.blog__heading {
  color: #292F36;
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.5px;
  text-align: left;
  margin-bottom: 30px;
}
.blog__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog__date {
  color: #4D5053;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer__left {
  width: 393px;
  margin-right: 101px;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 18px;
}
.footer__text {
  margin-bottom: 31px;
}
.footer__social {
  display: flex;
  gap: 54px;
}
.footer__right {
  display: flex;
  gap: 375px;
}
.footer__pages {
  width: 125px;
}
.footer__contact {
  width: 258px;
}
.footer__subheading {
  color: #292F36;
  font-size: 25px;
  line-height: 125%;
  text-align: left;
  margin-bottom: 26px;
}
.footer__list {
  height: 215px;
  display: grid;
}/*# sourceMappingURL=style.css.map */